.homepage {
  background-color: black;
}

.slider {
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.image {
  max-height: 500px;
  max-width: 1600px;
  border-radius: 10px;
  transition: 1s;
}
  
.slide {
  opacity: 0;
  transition-duration: 1s ease;
}
  
.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.image:hover {
  transform: scale(1.05);
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
  
.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

h2 {
  width: 97vw;
  border-bottom: 1px solid #e7e7e7; 
  line-height: 0.1em;
  margin: 10px 0 20px;
  font-weight: 300;
  margin-top: 40px;
}

.title {
  padding:0 10px;
  font-size: 30px;
  background: black;
}

.productLine {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
  padding-bottom: 20px;
}